/************************************ FONTS STYLE *********************************/
@font-face {
  font-family: "Inter-Black";
  src: url("../assets/fonts/Inter/Inter-Black.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter/Inter-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../assets/fonts/Inter/Inter-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-ExtraLight";
  src: url("../assets/fonts/Inter/Inter-ExtraLight.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-Light";
  src: url("../assets/fonts/Inter/Inter-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/Inter/Inter-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-Regular";
  src: url("../assets/fonts/Inter/Inter-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-Thin";
  src: url("../assets/fonts/Inter/Inter-Thin.ttf") format("truetype"); }
.font-inter-black {
  font-family: "Inter-Black", sans-serif; }

.font-inter-bold {
  font-family: "Inter-Bold", sans-serif; }

.font-inter-extra-bold {
  font-family: "Inter-ExtraBold", sans-serif; }

.font-inter-extra-light {
  font-family: "Inter-ExtraLight", sans-serif; }

.font-inter-light {
  font-family: "Inter-Light", sans-serif; }

.font-inter-medium {
  font-family: "Inter-Medium", sans-serif; }

.font-inter-regular {
  font-family: "Inter-Regular", sans-serif; }

.font-inter-semi-bold {
  font-family: "Inter-SemiBold", sans-serif; }

.font-inter-thin {
  font-family: "Inter-Thin", sans-serif; }

/**************************************** COLORS STYLE ************************************/
/*************************************** ICONS STYLE **************************************/
.icon {
  width: 18px;
  height: 18px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  background-color: #F1B301; }
  .icon.icon-phone {
    mask-image: url("../assets/icons/phone.svg");
    -webkit-mask-image: url("../assets/icons/phone.svg"); }
  .icon.icon-basket {
    mask-image: url("../assets/icons/basket.svg");
    -webkit-mask-image: url("../assets/icons/basket.svg"); }
  .icon.icon-filter {
    mask-image: url("../assets/icons/filter.svg");
    -webkit-mask-image: url("../assets/icons/filter.svg"); }
  .icon.icon-app-store {
    mask-image: url("../assets/icons/apple.svg");
    -webkit-mask-image: url("../assets/icons/apple.svg"); }
  .icon.icon-google-play {
    mask-image: url("../assets/icons/google-play.svg");
    -webkit-mask-image: url("../assets/icons/google-play.svg"); }
  .icon.icon-plus {
    mask-image: url("../assets/icons/plus.svg");
    -webkit-mask-image: url("../assets/icons/plus.svg"); }
  .icon.icon-facebook {
    mask-image: url("../assets/icons/facebook.svg");
    -webkit-mask-image: url("../assets/icons/facebook.svg"); }
  .icon.icon-telegram {
    mask-image: url("../assets/icons/telegram.svg");
    -webkit-mask-image: url("../assets/icons/telegram.svg"); }
  .icon.icon-instagram {
    mask-image: url("../assets/icons/instagram.svg");
    -webkit-mask-image: url("../assets/icons/instagram.svg"); }
  .icon.icon-tik-tok {
    mask-image: url("../assets/icons/tik-tok.svg");
    -webkit-mask-image: url("../assets/icons/tik-tok.svg"); }
  .icon.icon-youtube {
    mask-image: url("../assets/icons/youtube.svg");
    -webkit-mask-image: url("../assets/icons/youtube.svg"); }

/*************************************** MAIN STYLES *********************************************/
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box; }
  body .top {
    width: 100%;
    background-image: linear-gradient(to right, white 60%, #800A7A 40%); }
    @media (max-width: 567px) {
      body .top {
        background-image: linear-gradient(to bottom, white 40%, #800A7A 30%); } }
    body .top .navbar .container .col-60 {
      width: 60%; }
      body .top .navbar .container .col-60 .navbar-nav .nav-item .nav-link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #222124; }
    body .top .navbar .container .col-40 {
      width: 40%; }
      body .top .navbar .container .col-40 .line {
        width: 1px;
        height: 43px;
        mix-blend-mode: normal;
        opacity: 0.4;
        border: 1px solid #FFFFFF; }
    body .top .header .header-title {
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 85px;
      color: #222124;
      margin-top: 125px; }
    body .top .header .header-description {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      color: #222124; }
    body .top .header .row .col-6 {
      margin-top: 74px; }
      body .top .header .row .col-6 .card-pitsa {
        width: 255px;
        height: 200px;
        background: linear-gradient(315.49deg, #FFC85C 1.32%, #F1B301 96.68%);
        border-radius: 12px;
        position: relative;
        padding-top: 20px;
        padding-left: 20px; }
        body .top .header .row .col-6 .card-pitsa button {
          width: 119px;
          height: 40px;
          background: rgba(255, 255, 255, 0.203344);
          border-radius: 19px;
          color: white;
          border: 0; }
        body .top .header .row .col-6 .card-pitsa .card-title {
          font-style: normal;
          font-weight: bold;
          font-size: 34px;
          line-height: 32px;
          color: #E76A06; }
        body .top .header .row .col-6 .card-pitsa .pizza-half {
          position: absolute;
          bottom: 0;
          right: 0; }
      body .top .header .row .col-6 .card-kombo {
        width: 255px;
        height: 200px;
        background: #800A7A;
        border-radius: 12px;
        padding-top: 20px;
        padding-left: 20px;
        position: relative; }
        body .top .header .row .col-6 .card-kombo button {
          width: 174px;
          height: 40px;
          background: rgba(255, 255, 255, 0.203344);
          border-radius: 19px;
          color: white;
          border: 0; }
        body .top .header .row .col-6 .card-kombo .card-title {
          font-style: normal;
          font-weight: bold;
          font-size: 34px;
          line-height: 32px;
          color: #FC96F7; }
        body .top .header .row .col-6 .card-kombo .kombo-half {
          position: absolute;
          bottom: 0;
          right: 0; }
    body .top .header .row .col-6 .big-burger {
      width: 798px;
      margin-top: 68px;
      margin-left: -120px; }
  body .main .col-12 .line {
    width: 100%;
    height: 1px;
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #979797;
    margin-top: 79px;
    margin-bottom: 39px; }
  body .main .col-12 .nav-pills .nav-item .nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #222124; }
  body .main .col-12 .nav-pills .nav-item .active {
    width: 100%;
    height: 50px;
    background: #F1B301;
    border-radius: 27px;
    padding-top: 10px;
    color: #fff; }
  body .main .col-12 .nav-pills .nav-item button {
    width: 160px;
    height: 54px;
    background: #F5F5F5;
    border-radius: 27px; }
  body .main .col-12 .main-tite {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    color: #222124;
    margin-top: 105px; }
  body .main .col-12 .main-card {
    width: 540px;
    height: 230px;
    border: 1px solid rgba(151, 151, 151, 0.181927);
    box-sizing: border-box;
    border-radius: 12px;
    padding: 30px 30px 20px 30px;
    position: relative;
    margin-top: 30px; }
    body .main .col-12 .main-card .circle {
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 0.249235);
      box-shadow: 0px 7px 40px rgba(238, 39, 68, 0.355086);
      backdrop-filter: blur(8.15485px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 25px;
      position: absolute;
      top: 30px;
      left: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
    body .main .col-12 .main-card .card-content {
      margin-left: 41px; }
      body .main .col-12 .main-card .card-content .card-title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #222124; }
      body .main .col-12 .main-card .card-content .card-description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #222124;
        mix-blend-mode: normal;
        opacity: 0.4; }
      body .main .col-12 .main-card .card-content .card-price h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #222124; }
      body .main .col-12 .main-card .card-content .card-price .rounded-circle {
        width: 50px;
        height: 50px;
        background: #F1B301;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff; }

.footer {
  width: 100%;
  margin-top: 173px; }
  .footer .footer-one {
    width: 100%;
    background-color: #800A7A; }
    .footer .footer-one .container .row .footer-title {
      font-size: 52px;
      line-height: 63px;
      margin-top: 75px; }
    .footer .footer-one .container .row .row .btn {
      width: 250px;
      height: 80px;
      border: 1px solid rgba(255, 255, 255, 0.292941);
      box-sizing: border-box;
      backdrop-filter: blur(27.1828px);
      border-radius: 46px;
      margin-top: 60px;
      font-size: 23px; }
    .footer .footer-one .container .row .phone-col {
      position: relative; }
      .footer .footer-one .container .row .phone-col .phone {
        position: absolute;
        top: -130px;
        left: -100px;
        z-index: 99; }
      .footer .footer-one .container .row .phone-col .line {
        position: absolute;
        top: 70px;
        left: 200px; }

/*# sourceMappingURL=main.css.map */
